<%-include('../partials/header')%>
<link rel="stylesheet" href="/css/form.css">
<%-include('../partials/nav')%>
<h1>Are you sure You Wanna delete "<strong><em><%=song.title%></em></strong>"</h1>
<form action="/songs/<%=song._id%>?_method=DELETE" method="POST">
<input type="submit">
<a href="/songs/<%=song._id%>">Cancel</a>
</form>
<%-include('../partials/footer')%>