<%-include('../partials/header')%>
<link rel="stylesheet" href="/css/form.css">
<%-include('../partials/nav')%>
<h1>Edit <%=song.title%></h1>
<form action="/songs/<%=song._id%>?_method=PUT" method="POST" class="form">
<div class="box">
    <label for="title">Title</label>
    <input type="text" name="song[title]" value="<%=song.title%>">
</div>
<div class="box">
    <label for="title">Image URL</label>
    <input type="text" name="song[image]" value="<%=song.image%>">
</div>
<div class="box">
    <label for="title">Artist</label>
    <input type="text" name="song[artist]]" value="<%=song.artist%>">
</div>
<div class="box">
    <label for="title">Youtube Link</label>
    <input type="text" name="song[yt]" value="<%=song.yt%>">
</div>
<div class="box">
    <label for="title">Ratings</label>
    <input type="number" step="0.01" max="10" name="song[rating]" value="<%=song.rating%>">
</div>
<div class="box">
    <label for="title">Review</label>
    <textarea  name="song[review]" cols="30" rows="10"><%=song.review%></textarea>
</div>
<input type="submit">
</form>
    
    <%-include('../partials/footer')%>