<%-include('../partials/header')%>
<link rel="stylesheet" href="/css/index.css">
<%-include('../partials/nav')%>
<h1>All The Songs</h1>
<div class="container">
    <%songs.forEach((a)=>{%>
        <a href="/songs/<%=a._id%>" class="card"> 
            <h2><%=a.title%></h2>
            <img src="<%=a.image%>" alt="<%=a.title%>">
            <p><%=a.artist%></p>
        </a>
    <%})%>
</div>

<%-include('../partials/footer')%>