<%-include('../partials/header')%>
<link rel="stylesheet" href="/css/show.css">
<%-include('../partials/nav')%>
<div class="head">
    <h1><%=song.title.toUpperCase()%></h1>
<p>posted by <%=song.author.username%></p>
</div>

<div class="container">
    <div class="column-1">
        <img src="<%=song.image%>" alt="<%=song.title%>">
        <h2>Artist : <%=song.artist%></h2>
        <p>Rating : <%=song.rating%> /10</p>
    </div>
    <div class="column-2"><iframe src="https://www.youtube.com/embed/<%=song.yt%>" frameborder="0"></iframe>
        <div class="reviews">
            <p>Review: <%=song.review%></p>
           <% if(song.author.id.equals(user._id)){%>
                <div class="buttons"><a href="/songs/<%=song._id%>/edit">Edit</a>
                    <a href="/songs/<%=song._id%>/delete">Delete</a>
                    </div>
            <%}%>
    
    <div class="comment">
        <h2>Comments</h2>
    <form action="/songs/<%=song._id%>/comment" method="POST">
    <input type="text" name="text">
    <button>Add</button>
    </form>
    <%song.comments.forEach((a)=>{%>
        <p><em><%=a.author.username%></em> : <%=a.text%> <div class="button">
            <% if(a.author.id.equals(user._id)){%>
            <a href="/songs/<%=song._id%>/comment/<%=a._id%>/edit">Edit</a>
            <%}%>
            <% if(song.author.id.equals(user._id) || a.author.id.equals(user._id)){%>
            <form action="/songs/<%=song._id%>/comment/<%=a._id%>?_method=DELETE" method="POST" class="form">
            <button>delete</button></form>
        </div></p>
    <%}%>
    <%})%>
    </div>
        </div>
    
    </div>
</div>
<%-include('../partials/footer')%>